.uxui__hero {
    background: var(--st-main);
    .container {
        .row {
            align-items: center;
            @include lt-md {
                --bs-gutter-y: 2vh;
            }
            .col-hero__wrapper {
                text-align: right;
                img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 13px;
                    width: 100%;
                    @include gt-md {
                        max-width: 610px;
                    }
                }
            }
        }
    }
}