.uxui__inference {
    padding-top: 12vh;
    padding-bottom: 18vh;
    .container {
        .inference--row__introduction {
            text-align: center;
            padding-bottom: 6vh;
            @include lt-md {
                text-align: left;
            }
            .inference--content {
                h2 {
                    padding-bottom: 2.4vh;
                }
                p {
                    color: var(--st-black);
                    max-width: 906px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .inference--row__blocks {
            --bs-gutter-x: 4vh;
            @include lt-md {
                --bs-gutter-y: 3.5vh;
                flex-direction: column-reverse;
            }
            .inference--block {
                border-radius: 13px;
                .inference--content {
                    border-radius: 13px;
                    background: var(--st-gray-100);
                    padding: 3.2vh;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 2.4vh;
                    @include lt-md {
                        padding: 3vh 0vh;
                        gap: 1.2vh;
                        background: transparent;
                    }
                    p {
                        color: var(--st-black);
                    }
                    button {
                        svg {
                            margin-left: 1vh;
                            path {
                                stroke: var(--st-main);
                            }
                        }
                    }
                }
            }
        }
    }
}