.hero__development {
    background: var(--st-main);
    .container {
        .row {
            .col-hero__content {
                p {
                    max-width: 600px;
                    @include lt-md {
                        margin-bottom: 2.5vh;
                    }
                }
                button {
                    margin-top: 2vh;
                }
            }
        }
    }
}