@import '../mixins.scss';
@import '../variables.scss';


/* scss-docs-start */
.app-header--hide {
    //hiding navbar on scroll down style
    transform: translateY(-100%);
}
.mobile-menu-open {
    //mobile menu prevent scroll on open
    height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* scss-docs-end */


.app-header {
    background: var(--st-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 600ms ease,-webkit-transform 600ms ease;
    .navbar {
        padding-top: 19px !important;
        padding-bottom: 19px !important;
        @include lt-md {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .navbar-container {
            @include lt-md {
                padding-top: 1vh;
                padding-bottom: 1vh;
            }
            .logo-navbar {
                z-index: 5;
                svg {
                    width: 133px;
                    height: 45px;
                    @include lt-md {
                        width: 111px;
                        height: 37px;
                    }
                }
            }
            .navbar-toggler {
                @include lt-md {
                    z-index: 5;
                    border: none !important;
                    padding: 0 !important;
                    margin-bottom: 0.4vh;
                    &:focus {
                        box-shadow: none !important;
                    }
                }
                .hidden-hamburger-menu {
                    display: none;
                }
                .hidden-cross-menu {
                    display: none;
                }
            }
            // .collapsing {
            //     -webkit-transition-property: height, visibility;
            //     transition-property: height, visibility;
            //     -webkit-transition-duration: 0.35s;
            //     transition-duration: 0.35s;
            //     -webkit-transition-timing-function: ease;
            //     transition-timing-function: ease;
            // }
            .collapsing {
                transition: none;
            }
            .show {
                transform: none !important;
                background: var(--st-main) !important;
            }
            .navbar-collapse {
                //transition: transform 400ms ease, -webkit-transform 400ms ease;
                @include lt-md {
                    transform: translateX(100%);
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 4;
                    background: var($--st-blue);
                }
                .navbar-nav {
                    margin-right: auto;
                    margin-left: auto;
                    @include lt-md {
                        height: 100vh;
                        margin-top: 12vh;
                        padding: 0 20px;
                    }
                    .menu-centered-desktop {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: auto;
                        @include lt-md {
                            align-items: unset;
                            display: flex;
                            flex-direction: column;
                            margin-right: unset;
                        }
                        .dropdown {
                            .dropdown-toggle {
                                padding: 0;
                                padding-left: 0 !important;
                                padding-right: 0 !important;
                                &::after {
                                    content: url('../../images/DropdownIcon.svg');
                                    border: 0;
                                    margin-right: 7px;
                                    vertical-align: 0.1em;
                                    transition: transform 0.2s ease-in-out;
                                    transform: rotate(0);
                                    @include lt-md {
                                        color: var(--st-white);
                                        content: url('../../images/DropdownIconMobile.svg');
                                        float: right;
                                        transform: rotate(-90deg);
                                    }
                                }
                                &:not(.show):after {
                                    opacity: 0.5;
                                    transform: rotate(0deg);
                                    @include lt-md {
                                        transform: rotate(0deg);
                                    }
                                }
                            }
                            .dropdown-menu {
                                background: var(--st-main);
                                border: none;
                                padding-top: 15px;
                                padding: 0;
                                .dropdown-item {
                                    padding: 0;
                                    padding-top: 20px;
                                    display: flex;
                                    flex-direction: column;
                                    a {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 19px;
                                        line-height: 163%;
                                        text-decoration: none;
                                        &:first-child, &:nth-child(2) {
                                            padding-bottom: 15px;
                                        }
                                    }
                                }
                                .all-services {
                                    color: var(--st-active);
                                }
                            }
                        }
                        .nav-item {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 156.02%;
                            letter-spacing: -0.01em;
                            color: var(--st-white);
                            padding: 0 17px;
                            text-decoration: none;
                            @include lt-lg {
                                font-size: 14px;
                            }
                            @include lt-md {
                                font-style: normal;
                                font-size: 21px;
                                line-height: 163%;
                                font-weight: 500;
                                padding: 13px 0;
                            }
                            a {
                                color: var(--st-white); //changes for dropdown
                            }
                        }
                    }
                }
                .menu-right-desktop {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nav-item {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 156.02%;
                        letter-spacing: -0.01em;
                        color: var(--st-white);
                        padding: 0 17px;
                        text-decoration: none;
                        @include lt-lg {
                            font-size: 14px;
                        }
                        @include lt-md {
                            font-size: 21px;
                        }
                    }
                    .button-item-navbar {
                        padding: 0;
                        padding-left: 13px;
                    }
                }
            }
        }
    }
}
