@import './_mixins.scss';

body {
    background: var(--st-main);
    background-color: var(--st-main);
}

//Colors
    $--st-main: #1B2934;
    $--st-black: #020202;
    $--st-white: #FFFFFF;
    $--st-gray-100: #FBFBFC;
    $--st-gray-200: #E8E8E8;
    $--st-gray-300: #DEDEDE;
    $--st-gray-400: #ABABAB;
    $--st-light-blue: #EBFBFF;
    $--st-powder-blue: #CCD6FF;
    $--st-blue: #00A3FF;
    $--st-blue-100: #1E87FF;
    $--st-link: #208FD5;
    $--st-active: #1bb3f7;
    $--st-deep-blue: #003B99;
    $--st-navy: #1A2347;
    $--st-light-purple: #CAC0FA;
    $--st-light-purple-100: #e7e2ff;
    $--st-indigo: #8E75FF;
    $--st-pink: #FD3B79;
    $--st-yellow: #FEC83B;
    $--st-orange-shade: #FAE5DE;
    $--st-ember: #FF3C00;
    $--st-green: #19BE84;
    $--st-green-100: #0FD354;
    $--st-green-dark: #11af49;
    
:root {
    --st-main: #{$--st-main};
    --st-black: #{$--st-black};
    --st-white: #{$--st-white};
    --st-gray-100: #{$--st-gray-100};
    --st-gray-200: #{$--st-gray-200};
    --st-gray-300: #{$--st-gray-300};
    --st-gray-400: #{$--st-gray-400};
    --st-light-blue: #{$--st-light-blue};
    --st-powder-blue: #{$--st-powder-blue};
    --st-blue: #{$--st-blue};
    --st-blue-100: #{$--st-blue-100};
    --st-link: #{$--st-link};
    --st-active: #{$--st-active};
    --st-deep-blue: #{$--st-deep-blue};
    --st-navy: #{$--st-navy};
    --st-light-purple: #{$--st-light-purple};
    --st-light-purple-100: #{$--st-light-purple-100};
    --st-indigo: #{$--st-indigo};
    --st-pink: #{$--st-pink};
    --st-yellow: #{$--st-yellow};
    --st-orange-shade: #{$--st-orange-shade};
    --st-ember: #{$--st-ember};
    --st-green: #{$--st-green};
    --st-green-100: #{$--st-green-100};
    --st-green-dark: #{$--st-green-dark};
}


//Container presets
.top--spacing {
    padding-top: 170px;
    padding-bottom: 100px;
}

@include lt-md {
    .top--spacing {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1400px) { //setting up container width, manually without editing bootstrap.scss
    .container {
        max-width: 1450px !important;
    }
}

@include lt-sm {
    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

    

//Text presets
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Inter' !important;
}

a {
    text-decoration: none !important;
}

p, .p-default {
    font-weight: 300;
    font-size: 19px;
    line-height: 163%;
    letter-spacing: -0.01em;
    color: var(--st-white);
    margin-bottom: 0;
    @include lt-xl {
        font-size: 18px;
    }
}

h1, .h1-default {
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    letter-spacing: -0.015em;
    color: var(--st-white);
    margin-bottom: 20px;
    @include lt-lg {
        font-size: 35px;
        line-height: 124%;
    }
}

h2, .h2-default {
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 139%;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    @include lt-lg {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
    }
}

h3, .h3-default {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 139%;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    @include lt-lg {
        font-weight: 600;
        font-size: 23px;
    }
}

h4, .h4-default {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    @include lt-xl {
        font-size: 27px;
    }
    @include lt-md {
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
    }
}

h5, .h5-default {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 112%;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

h6, .h6-default {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 137,5%;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.underlined-text {
    font-style: normal;
    text-decoration-line: underline;
    color: var(--st-link);
}








//Buttons
.button-primary-filled__navbar {
    background: var(--st-green-100);
    color: var(--st-main);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 26px;
    gap: 10px;
    border-radius: 12px;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    @include lt-lg {
        font-size: 15px;
    }
    @include lt-md {
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }
}

.button-primary-filled {
    padding: 14px 29px;
    gap: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    background: var(--st-green-100);
    color: var(--st-main);
    border-radius: 1.3vh;
    border: none;
    &:hover {
        background: var(--st-green-dark);
    }
    a { text-decoration: none; 
        color: var(--st-main); 
    }
}

.button-primary-outlined {
    background: transparent;
    padding: 14px 29px;
    color: var(--st-black);
    border: 1px solid #020202;
    border-radius: 1.2vh;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    a { text-decoration: none; 
        color: var(--st-black); 
    } 
}

.button-link-underlined {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 163%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: var(--st-link);
}








//Desktop & Mobile responsive hiding helpers

@include gt-md {
    .desktop--hidden {
        display: none !important;
    }
}

@include gt-sm {
    .desktop--hidden {
        display: none !important;
    }
}

@include lt-md {
    .mobile--hidden {
        display: none !important;
    }
}

@include lt-md {
    .mobile--hidden {
        display: none !important;
    }
}

@include lt-sm {
    .mobile--hidden {
        display: none !important;
    }
}