@import './_mixins.scss';

//scss-docs-start colors
    $--st-black: #020202;
    $--st-white: #FFFFFF;
    $--st-main: #201F34;
    $--st-blue: #00A3FF;
    $--st-blue-100: #1E87FF;
    $--st-gray-100: #FBFBFC;
    $--st-gray-200: #E8E8E8;
    $--st-gray-300: #DEDEDE;

:root {
    --st-black: #{$--st-black};
    --st-white: #{$--st-white};
    --st-main: #{$--st-main};
    --st-blue: #{$--st-blue};
    --st-blue-100: #{$--st-blue-100};
    --st-gray-100: #{$--st-gray-100};
    --st-gray-200: #{$--st-gray-200};
    --st-gray-300: #{$--st-gray-300};
}
//scss-docs-end colors

//scss-docs-start fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
//scss-docs-end fonts

//scss-docs-start globals container, spacing styles
.top--spacing {
    padding-top: 170px;
    padding-bottom: 100px;
}

@include lt-md {
    .top--spacing {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1400px) { //setting up container width, manually without editing bootstrap.scss
    .container {
        max-width: 1450px !important;
    }
}

@include lt-sm {
    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

    

//scss-docs-end globals

//Here you can edit your text styles, size etc.
//scss-docs-start text-styles

body, html {
    font-family: 'Inter' !important;
}

p, .p-default {
    font-weight: 300;
    font-size: 19px;
    line-height: 163%;
    letter-spacing: -0.01em;
    color: var(--st-white);
}

h1, .h1-default {
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    letter-spacing: -0.015em;
    color: var(--st-white);
    margin-bottom: 20px;
    @include lt-md {
        font-size: 35px;
        line-height: 124%;
    }
}

//scss-docs-end text-styles


//Button styles can be changed here.
//scss-docs-start buttons

.button-primary-filled__navbar {
    background: var(--st-blue-100);
    color: var(--st-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 26px;
    gap: 10px;
    border-radius: 12px;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    @include lt-lg {
        font-size: 15px;
    }
    @include lt-md {
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }
}

.button-primary-filled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 29px;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    background: var(--st-blue-100);
    color: var(--st-white);
}

//scss-docs-end buttons


//scsss-docs-start helpers-view
// desktop--hidden & mobile--hidden classess

@include gt-md {
    .desktop--hidden {
        display: none !important;
    }
}

@include gt-sm {
    .desktop--hidden {
        display: none !important;
    }
}

@include lt-md {
    .mobile--hidden {
        display: none !important;
    }
}

@include lt-md {
    .mobile--hidden {
        display: none !important;
    }
}

@include lt-sm {
    .mobile--hidden {
        display: none !important;
    }
}