@import '../../mixins';


.services__hero {
    background: var(--st-main);
    .container {
        .row-hero {
            align-items: center;
            .col-hero {
                img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 13px;
                    width: 100%;
                    @include gt-md {
                        max-width: 610px;
                    }
                }
                p {
                    max-width: 600px;
                }
            }
            .col-img-hero {
                text-align: right;
            }
        }
    }
}