.services__capabilities {
    padding-top: 12vh;
    padding-bottom: 12vh;
    .container {
        .row {
            .col-capabilities__introduction {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h2 {
                    color: var(--st-black);
                }
                p {
                    color: var(--st-black);
                    max-width: 906px;
                }
            }
        }
        .row-capabilities__features {
            padding-top: 9vh;
            @include lt-md {
                gap: 5vh;
                padding-top: 5vh;
            }
            .features-item {
                ul {
                    padding-top: 2vh;
                    li {
                        font-weight: 300;
                        font-size: 1.18rem;
                        line-height: 163%;
                        letter-spacing: -0.01em;
                        color: var(--st-black);
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}