.services__hero {
    background: var(--st-main);
    .container {
        .row-hero__hero {
            align-items: center;
            .col-hero__content {
                p {
                    max-width: 600px;
                    @include lt-md {
                        margin-bottom: 2.5vh;
                    }
                }
            }
            .col-hero__wrapper {
                text-align: right;
                img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 13px;
                    width: 100%;
                    @include gt-md {
                        max-width: 610px;
                    }
                }
            }
        }
    }
}