.dev__home {
    padding-block: 17vh 18vh;
    .container {
        .row {
            align-items: center;
            @include gt-md {
                --bs-gutter-x: 6vh;
            }
            @include lt-md {
                gap: 3.5vh;
            }
            .col-dev__img-wrapper {
                img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 13px;
                    width: 100%;
                    @include lt-md {
                        min-height: 18vh;
                    }
                }
            }
            .col-dev__content {
                display: flex;
                flex-direction: column;
                gap: 2.4vh;
                align-items: flex-start;
                @include lt-md {
                    gap: 3.5vh;
                }
                p {
                    color: var(--st-black);
                }
            }
        }
    }
}