.choose__home {
    background: var(--st-orange-shade);
    padding-top: 12vh;
    padding-bottom: 14vh;
    @include lt-md {
        padding-top: 8vh;
        padding-bottom: 9vh;
    }
    .container {
        .row {
            align-items: center;
            @include gt-md {
                --bs-gutter-x: 6vh;
            }
            @include lt-md {
                gap: 3.5vh;
            }
            .col-choose__content {
                display: flex;
                flex-direction: column;
                gap: 2.4vh;
                align-items: flex-start;
                @include lt-md {
                    gap: 3.5vh;
                }
                p {
                    color: var(--st-black);
                }
            }
            .col-choose__img-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 13px;
                    width: 100%;
                    @include lt-md {
                        min-height: 18vh;
                    }
                }
                .play-button {
                    position: absolute;
                    background: hsla(0, 0%, 85%, 0.1);
                    border: none;
                    border-radius: 100%;
                    width: 9.2vh;
                    height: 9.2vh;
                    @include lt-md {
                        width: 5.5vh;
                        height: 5.5vh;
                    }
                    svg {
                        width: 3.9vh;
                        height: 4.7vh;
                        border-radius: 0.3vh;
                        margin-left: 10px;
                        @include lt-md {
                            width: 1.9vh;
                            height: 2.3vh;
                            margin-left: 4px;
                        }
                        path {
                            fill: var(--st-orange);
                        }
                    }
                }
            }
        }
    }
}